<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532227371854-qvh7ota80cbn9302oit0vptde9f9co2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532227371854-qvh7ota80cbn9302oit0vptde9f9co2h</string>
	<key>API_KEY</key>
	<string>AIzaSyDI_lf8Cqj4H066GXQ0TjMJ_DMHp1R5DwM</string>
	<key>GCM_SENDER_ID</key>
	<string>532227371854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ToDo.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-a75dd</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-a75dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532227371854:ios:10c30e1a65f2713a2ba41f</string>
</dict>
</plist>